{% extends 'teachers/base.html' %}

{% block body %}

    <div class="container">
        <div class="row mt-4">
        <div class="col-md-4">
            <div class="row">
                <h2>Filter</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>Filters here</span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2>Tutors</h2>
            {% include 'teachers/teachers_list.html'  %}
        </div>
        </div>
    </div>

{% endblock %}
