{% extends 'tutors/base.html' %}

{% load cropping %}


{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'tutors:index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'tutors:tutors_list' %}">All Tutors</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ tutor }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% if tutor.user.avatar %}
                            <div class="">
                                <img class="img-fluid img-thumbnail" width="300px" height="auto" src="{% cropped_thumbnail tutor.user "cropping" %}" alt="">
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-8">
                        Price: <b>{{ tutor.price }}</b> per h.
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-8">
                        Experience: {{ tutor.experience_years }} year{{ tutor.experience_years|pluralize }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Gallery</h4>
                        {% for gallery_item in tutor.galleryitem_set.all %}
                            <img width="50px" src="{{ gallery_item.image.url }}" alt="">
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="col-md-7 offset-md-1">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ tutor.user.first_name }} {{ tutor.user.last_name }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <h4>About me</h4>
                        {{ tutor.about }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 mt-5">
                        <h4>My skills</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Subjects:</h5>
                                <ul>
                                    {% for subject in tutor.subjects.all %}
                                        <li>{{ subject }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h5>Languages:</h5>
                                <ul>
                                    {% for language in tutor.languages.all %}
                                        <li>{{ language }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <button class="btn btn-primary">
                            Chat with {{ tutor.user.first_name }}
                        </button>
                        {% if tutor.user == user %}
                            <a class="btn btn-danger" href="{% url 'tutors:tutor_profile' %}">Edit my Profile</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}{% endblock %}
