{% extends 'tutors/base.html' %}

{% load cropping %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'tutors:index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'tutors:tutors_list' %}">All Tutors</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ tutor }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% if tutor.user.avatar %}
                            <div class="">
                                <img class="img-fluid img-thumbnail" width="300px" height="auto" src="{% cropped_thumbnail tutor.user "cropping" %}" alt="">
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-8">
                        Price: <b>{{ tutor.price }}</b> per h.
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-8">
                        Experience: {{ tutor.experience_years }} year{{ tutor.experience_years|pluralize }}
                    </div>
                </div>
                {% if tutor.galleryitem_set.count %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Gallery</h4>
                            {% for gallery_item in tutor.galleryitem_set.all %}
                                <img width="50px" src="{{ gallery_item.image.url }}" alt="">
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="row mt-3">
                    <div class="col-md-12">
                        <a class="btn btn-primary" href="{% url 'tutors:tutor_chat' tutor_id=tutor.id %}">
                            Chat with {{ tutor.user.first_name }}
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'tutors:tutor_chat' tutor_id=tutor.id %}" method="post">
                                    {% csrf_token %}
                                    {{ chat_form|crispy }}
                                    <input class="btn btn-success" type="submit" value="Send request">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h1>{{ tutor.user.first_name }} {{ tutor.user.last_name }}</h1>
                    </div>
                    {% if tutor.user == user %}
                        <div class="col-md-4">
                            <a class="btn btn-warning" href="{% url 'tutors:workspace_tutor_profile_edit' %}"><i class="fa fa-pencil"></i> Edit my Profile</a>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <h4>About me</h4>
                        <div class="div mb-5">
                            <p>
                                {{ tutor.about }}
                            </p>
                        </div>
                        {% if tutor.video_profile_file %}
                            <div class="div mt-3">
                                <video controls="controls" width="100%" src="{{ tutor.video_profile_file.url }}"></video>
                            </div>
                        {% endif %}
                        {% if tutor.video_profile_url %}
                            <div class="div">
                                {% include 'tutors/components/youtube_embed.html' with youtube_link=tutor.video_profile_url %}
                            </div>
                        {% endif %}
                        {% if tutor.pdf_attachment %}
                            <div class="div">
                                <iframe width="100%" height="400px" src="{{ tutor.pdf_attachment.url }}" frameborder="0"></iframe>
                            </div>
                        {% endif %}
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-11 mt-5">
                        <h4>My skills</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Subjects:</h5>
                                <ul>
                                    {% for subject in tutor.subjects.all %}
                                        <li>{{ subject }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h5>Languages:</h5>
                                <ul>
                                    {% for language in tutor.languages.all %}
                                        <li>{{ language }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{#{% block footer %}{% endblock %}#}
