{%  load static %}
{% load cropping %}
{% load thumbnail %}


<header>
    <div class="navbar  navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="{% url 'tutors:index' %}" class="navbar-brand d-flex align-items-center">
                <img class="mr-2" src="{% static 'tutors/favicon_io/favicon-32x32.png' %}" alt="">
                <strong>Bilingual Tutors Hub</strong>
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if active_nav == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'tutors:index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if active_nav == 'tutors' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'tutors:tutors_list' %}">Tutors</a>
                    </li>
                    <li class="nav-item {% if active_nav == 'courses' %}active{% endif %}">
                        <a class="nav-link disabled" href="#">Courses</a>
                    </li>
                    <li class="nav-item {% if active_nav == 'schools' %}active{% endif %}">
                        <a class="nav-link disabled" href="#">Schools</a>
                    </li>
                    <li class="nav-item {% if active_nav == 'parent_ads' %}active{% endif %}">
                        <a class="nav-link disabled" href="#">Parent Ads</a>
                    </li>
                </ul>
                <span class="navbar-nav">
                    {% if not user.is_authenticated %}
                        <a class="nav-link " href="{% url 'account_login' %}">Login</a><span class="nav-link">/</span>
                        <a class="nav-link " href="{% url 'account_signup' %}">SignUp</a>
                    {% else %}
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle mr-1" src="{% thumbnail user.avatar 40x40 %}" alt="">
                                {% if user.first_name %} {{ user }} {% else %}  {{ user.username }} {% endif %}
                            </a>
                            <div class="dropdown-menu pull-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'tutors:workspace_index' %}">My Workspace</a>
                                <a class="dropdown-item" href="#">My Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                            </div>
                        </div>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</header>
