{% extends 'tutors/base.html' %}

{% load static %}

{% block body %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .jumbotron {
        {#background-image: url("{% static 'tutors/images/pexels-julia-m-cameron-4145153.jpg' %}");#}
        {#background-size: cover;#}
            position: relative;
            overflow: hidden;
            background-color:white;
        }
        .jumbotron video {
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            {#opacity:0.2;#}
        }
        .jumbotron .container {
          z-index: 2;
          position: relative;
        }
    </style>


    <main role="main">

        <section class="jumbotron jumbotron-fluid text-center">
            <video id="landing-video" autoplay=""  muted="">
                <source src="https://ak.picdn.net/shutterstock/videos/1015302514/preview/stock-footage-digitally-generated-video-of-education-concept.webm" type="video/webm"><source src="https://ak.picdn.net/shutterstock/videos/1015302514/preview/stock-footage-digitally-generated-video-of-education-concept.mp4" type="video/mp4">
            </video>

            <script>
                let video = document.getElementById("landing-video");
                video.addEventListener("timeupdate", function(){
                    if(this.currentTime >= 3) {
                        this.pause();
                    }
                });
            </script>

            <div class="container">
                <h1 class="text-light">Teaching Your Child To Be Bilingual</h1>
                <p class="text-light lead ">Every bilingual child is unique. Learning two languages depends on the amount and type of practice your child gets.</p>
                <p>
                    <a href="{% url 'tutors:tutors_list' %}" class="btn btn-primary my-2">Find a Tutor</a>
                    <a href="{% url 'tutors:register_tutor' %}" class="btn btn-secondary my-2">Become a Tutor</a>
                    {% if user.is_superuser %}
                        <a href="/admin" class="btn btn-danger my-2">Admin Console</a>
                    {% endif %}
                </p>
            </div>
        </section>

        <div class="album py-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Featured tutors</h2>
                    </div>
                </div>
                <div class="row pt-3">

                    {% for tutor in featured_tutors %}
                        <div class="col-md-4">
                            {% include 'tutors/components/tutor_card.html' %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </main>

{% endblock %}



