{% extends 'tutors/base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load cropping %}

{% block head_mixin %}
    {{ form.media }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Tutor profile</h1>
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-md-12">
                <form action="{% url 'tutors:user_profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-success" value="Save">
                </form>
            </div>
        </div>
    </div>

{% endblock %}


