<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link {% ifequal active_sidebar 'orders' %}active{% endifequal %}" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Orders</a>

    {% if user.get_user_type == 'tutor' %}
        <a class="nav-link {% ifequal active_sidebar 'workspace_tutor_profile_edit' %}active{% endifequal %}"  href="{% url 'tutors:workspace_tutor_profile_edit' %}" role="link" >Tutor Profile</a>
    {% endif %}

    <a class="nav-link {% ifequal active_sidebar 'messages' %}active{% endifequal %}" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Tutors</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Schools</a>
    <a class="nav-link {% ifequal active_sidebar 'settings' %}active{% endifequal %}" id="v-pills-settings-tab" href="{% url 'tutors:workspace_settings' %}" role="link" aria-selected="">Settings</a>
</div>
