{% extends 'tutors/base.html' %}





{% block body %}

    <div class="container">

        <div class="row mt-3">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'tutors:index' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Workspace</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row mt-10">
            <div class="col-md-3">
                {% include 'tutors/workspace/sidebar.html' %}
            </div>
            <div class="col-md-9">
                Tutor Profile
                {% include 'tutors/forms/tutor_profile_form.html' %}
            </div>
        </div>
    </div>

{% endblock %}


